<div align="center">
	<FONT COLOR="#000000" SIZE=6>Contact Us!</FONT>
</br /><br /><hr color="white"width="50%"/><br />
	<a href="mailto:aerinjungmin@gmail.com"><FONT COLOR="#000000" SIZE=5>Mara Jade</FONT></a><br />
	<a href="mailto:sachitgupta@gmail.com"><FONT COLOR="#000000" SIZE=5>Frederick Perrywinkle</FONT></a><br />
	<a href="mailto:achaoka@gmail.com"><FONT COLOR="#000000" SIZE=5>Bellatrix Lestrange</FONT></a><br />
	<a href="mailto:gino.mancuso@gmail.com"><FONT COLOR="#000000" SIZE=5>Max Rockatansky</FONT></a><br />
	<a href="mailto:dalvarez@andrew.cmu.edu"><FONT COLOR="#000000" SIZE=5>Dirty Sanchez</FONT></a><br />
</div>
  